*{
    margin:0;
    padding:0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    & main {
        background-color: #ff868a;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        @media screen and (min-width: 600px) {
            img {
                width: 70%;
            }
        }
    }
}